<!-- ======= Hero Section ======= -->
<section class="hero">
   <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
         <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
            <h2>Santa Catalina <span class="badge bg-warning text-white">IS.V01.017 in progress</span></h2>
            <p>*descripcion corta del barrio*</p>
         </div>
         <div class="col-lg-6 order-1 order-lg-2">
            <img src="assets/img/hero-img.svg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
         </div>
      </div>
   </div>

   <div class="icon-boxes position-relative">
      <div class="container position-relative">
         <div class="row gy-4 mt-5">

            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
               <div class="icon-box">
                  <div class="icon"><i class="bi bi-bus-front"></i></div>
                  <h4 class="title"><a href="" class="stretched-link">Líneas de Omnibus</a></h4>
               </div>
            </div>
            <!--End Icon Box -->

            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
               <div class="icon-box">
                  <div class="icon"><i class="bi bi-shop"></i></div>
                  <h4 class="title"><a href="/Negocios" class="stretched-link">Negocios</a></h4>
               </div>
            </div>
            <!--End Icon Box -->

            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
               <div class="icon-box">
                  <div class="icon"><i class="*sin icono*"></i></div>
                  <h4 class="title"><a href="" class="stretched-link">Club de Futbol</a></h4>
                  <span class="badge bg-danger text-white">Esperando al icono de pelota</span>
               </div>
            </div>
            <!--End Icon Box -->

            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
               <div class="icon-box">
                  <div class="icon"><i class="bi bi-image"></i></div>
                  <h4 class="title"><a href="" class="stretched-link">Imágenes</a></h4>
               </div>
            </div>
            <!--End Icon Box -->

         </div>
      </div>
   </div>
</section>
<!-- End Hero Section -->

<main id="main">
   <!-- ======= About Us Section ======= -->
   <section id="about" class="about">
      <div class="container" data-aos="fade-up">

         <div class="section-header">
            <h2>Acerca del Barrio</h2>
            <p>Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id
               nobis omnis tiledo stran delop</p>
         </div>

         <!-- ======= Call To Action Section ======= -->
         <section id="call-to-action" class="call-to-action">
            <div class="container text-center" data-aos="zoom-out">
               <h3>*video dron*</h3>
               <p>*descripcion y agradecimientos al autor del video*</p>
               <a href="#LinkDelVideo" class="glightbox cta-btn"><i class="bi bi-play-fill"></i></a>
            </div>
         </section><!-- End Call To Action Section -->

      </div>
   </section><!-- End About Us Section -->
</main>